git+https://github.com/botswana-harvard/django-crypto-fields.git@0.1.14#egg=django-crypto-fields
git+https://github.com/botswana-harvard/django-revision.git@0.1.14#egg=django-revision
git+https://github.com/botswana-harvard/edc-base.git@develop#egg=edc_base
git+https://github.com/botswana-harvard/edc-device.git@develop#egg=edc_device
git+https://github.com/botswana-harvard/edc-protocol.git@0.1.5#egg=edc-protocol
git+https://github.com/botswana-harvard/edc-registration.git@3c44c67996e21d1c79c41b54befb44d6deba67ac
git+https://github.com/botswana-harvard/edc-constants@develop#egg=edc-constants
git+https://github.com/botswana-harvard/edc-model-admin.git@develop#egg=edc_model_admin
git+https://github.com/botswana-harvard/edc-data-manager.git@0.1.5#egg=edc-data-manager
git+https://github.com/botswana-harvard/edc-search.git@develop#egg=edc_search
edc_sites
edc_model
